@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Calibri', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    font-weight: normal;
}

table, button, p {
    font-size: 20px;
    font-weight: normal;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


